*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    margin: 0px;
}


header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
    
}


.contenedor{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto;
}


h2,h3{
    text-align: center;
}


label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input{
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-general{
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor:pointer;
}

.span-boton{
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor:pointer;
}


.error{
    color:red;
    font-size: 12px;
}

