*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: bisque;
}

main{
    margin: 50px;
}

.contenedor{
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
 }

 .filaFlex{
    display: flex;
    gap:10px;  
 }

 .columnaFlex{
    flex:1;
 }

 select,input,label{
    margin: 10px 0px;
    display: block;
    width: 100%;
    padding: 8px;
 }

 #texto{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.5s;
 }

footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 50px;
}