html{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

main{
    padding: 50px;
}

header{
    background-color: #ffdd47;
    color: black;
    text-align: center;
    padding: 5px 0px;  
}

footer{
    background-color: #ffdd47;
    color: black;
    text-align: center;
    padding: 5px 0px;  
    
}
