html {
    /*background-color: green;*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
  
body {
      /*width: 600px;*/
      margin:0px;
      text-align: center;
      background-color: whitesmoke;     
}
  
header{
    background-color: #333;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer{
    background-color: #333;
    color:white;
    padding-top: 30px;
    padding-bottom: 20px;
}


.texto_centrado{
    text-align: center;
}

main{
    width: 80%;
    max-width: 800px;
    margin:auto;    
}


article{
    background-color: white;
    box-shadow: 0px 0px 5px 2px grey;    
}

article p{
    text-align: justify;
}

header a {
    color:white;
}

header a:hover{
    color:red;
}

a {
    text-decoration:none;
}

div {
    display: inline-flex;
}

figcaption {
    font-size: 14px;
}

